<div class="author">
  <h1 class="'author__heading">This is Maneth here</h1>
  <p class="author__body">Data enthusiast and consultant</p>
</div>

<img
  src="https://github.com/Anmol-Baranwal/Cool-GIFs-For-GitHub/assets/74038190/7d484dc9-68a9-4ee6-a767-aea59035c12d"
  alt="Blog-front"
  width="500"
/>

<section class="articles">
  <h2 class="articles__heading">Latest posts</h2>
  <ul class="article-ul">
    <li>
      <a href="#">
        <span>Post title</span>
        <span class="article-list__date">Date</span>
      </a>
    </li>
  </ul>

  <a href="#" class="pagination">&lt; View Older Posts</a>>
</section>
